@page
@model DotNetCoreApp.Pages.BetrayalModel
@{
    ViewData["Title"] = "Betrayal" +
                "";

}
<div id="Betrayal">
    <div class="container-fluid">
        <h2>Betrayed by Senator Palpatine</h2>
        <div class="row">
            <div class="col-sm-9">
                <p>
                    Believing that Senator, his mentor for years, to be the only way to save Padm&eacute; from dying;   and haunted by his dreams of her screaming his name in her death throes, Anakin became willing to do anything to save her.
                </p>
                <p>
                    Tricked into thinking the Jedi were behind everything and the real threat to the Republic, by Palpatine, Anakin fought and killed Mace Windu who had come to arrest the Chancellor for treason.
                </p>
                <p>
                    Later, after fully falling to the evil clutches of the fully revealed Darth Sidious, Anakin went to the Jedi Temple and slaughtered all the younglings, the Jedi Order's future.
                </p>
            </div><!--end col01-->
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/betrayal-1.png" />
            </div><!--end col02-->
        </div><!--end row01-->
        <br />
        <div class="row">
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/betrayal-2.png" />
            </div><!--end col01-->
            <div class="col-sm-9">
                <p>
                    Travelling to Mustafa, Anakin, newly named Darth Vader as the Emperor's apprentice, executed the last of the Separatist leaders in cold blood.
                </p>
                <p>
                    At the same time Emperor Palpatine issued secret Order 66 that had the Clone Troopers turn on their Jedi generals and kill them.
                </p>
            </div><!--end col02-->
        </div><!--end row02-->
        <br />
        <div class="row">
            <div class="col-sm-9">
                <p>The betrayal was complete.  Obi-won came to Mustafa to save his friend, Anankin; but, Anakin had fallen too far and Obi-won found himself facing Darth Vader for the first time.</p>
                <p>After a long and pitched battle, Obi-won badly defeated Vader.  His injuries from that battle would cause Darth Vader to assume a cyborg body and strike fear into the enemies of the Empire for decades to come.</p>
            </div><!--end col01-->
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/dark-anakin.png" />
            </div><!--end col02-->
        </div><!--end row03-->
    </div><!--end container-->
</div><!--end Betrayal-->
