@page
@model DotNetCoreApp.Pages.DarkSideModel
@{
    ViewData["Title"] = "Dark Side" +
                "";

}
<div id="DarkSide">
    <div class="container-fluid">
        <h2>Darth Vader enforces the will of his Emperor</h2>
        <div class="row">
            <div class="col-sm-9">
                <p>
                    Once Anakin's fall to Darth Vader had been complete,  he went from place to place, enforcing Darth Sidious' evil Sith will.  He continued to hunt the Jedi down wherever found.  Darth Vader still believed the Jedi were responsible for Padm&eacute;'s death and showed no mercy towards them.
                </p>
                <p>
                   Darth Vader created the evil Inquisitors who quickly expanded the hunt for any remaining Jedi.  They were Dark Force users themselves, recruited by the Emperor personally and taught arts forbidden even to the Sith.
                </p>
            </div><!--end col01-->
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/darkside-1.png" />
            </div><!--end col02-->
        </div><!--end row01-->
        <br />
        <div class="row">
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/darkside-2.png" />
            </div><!--end col01-->
            <br />
            <div class="col-sm-9">
                <p>
                    The Resistance began almost immediately after the Empire came to power and began to push its will onto the people.  The Clone Troopers had been gradually replaced by Stormtroopers, an equally formidable foe.  The machines of war the Republic had built to fight the Separatists were now employed against the free peoples of the galaxy.
                </p>
            </div><!--end col02-->
        </div><!--end Row02-->
        <br />
        <div class="row">
            <div class="col-sm-9">
                <p>
                    Darth Vader did many evil and twisted things during these dark decades, but perhaps his greatest challenge was the one from his past.  Battling with some Light Side Jedi at a forbidden Sith Temple, Darth Vader came face to face with his old Padawan, Asoka Tano, who recently joined the nascent Rebellion.  Back and forth the battle raged until at last they both limped away, badly hurt, Vader's iron lung wheezing with his breath in and out.
                </p>
            </div><!--end col01-->
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/darkside-3.png" />
            </div>
        </div><!--end row02-->
    </div><!--end container-->
</div>