@page
@model IndexModel
@{
    ViewData["Title"] = "DotNetCoreApp" +
                "";
}


<div id="content" class="text-center">
    <h1 style="text-shadow: lightgreen 1px 1px;" class="display-4">The Rise and Fall of Anakin Skywalker</h1>
    <img class="img-fluid" src="~/pix/coverpic.png" />

</div>
<br />

