@page
@model DotNetCoreApp.Pages.LightSideModel
@{
    ViewData["Title"] = "Light Side" +
                "";

}
<div id="LightSide">
    <div class="container-fluid">
        <h2>Anakin as Clone Wars General and Hero</h2>
        <div class="row">
            <div class="col-sm-9">
                <p>
                    Originally a slave on Tatooine, Anakin was a Jedi prophesied to bring balance to the Force and Anakin quickly rose to prominence as one of the most powerful Jedi ever.
                </p>
                <p>
                Anakin Skywalker, Obi-Wan Kenobi, Padmé Amidala, Yoda, and Mace Windu, and Anakin's Padawan learner Ahsoka Tano, were a cast of heroes who bravely fought the relentless Separatists.
                </p>
            </div><!--end col01-->
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/light-anakin.png" />
            </div><!--end col02-->
        </div><!--end row01-->
        <div class="row">
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/clonewars-fighters.png" />
            </div><!--end col01-->
        <br/>
            <div class="col-sm-9">
                <p>
                    The real heroes however, were the Clone Troopers, like Captain Rex of the 501st Legion. These men were programmed to live and die by the command of the Jedi, and did so by the millions. However, like Rex, there were some who exceeded their programming and became great warriors in their own right.
                    </p>
                    <p>
                    The antagonists were typically members of the Separatist Alliance, but also included crime lords, bounty hunters, and Force-sensitive users (Sith or just dark side users) who were not affiliated with the Separatists.
                </p>
            </div><!--end col02-->
        </div><!--end row02-->
    </div><!--end container-->
</div><!--end LightSide-->