@page
@model DotNetCoreApp.Pages.RedemptionModel
@{
    ViewData["Title"] = "Redemption" +
                "";

}
<div id="Betrayal">
    <div class="container-fluid">
        <h2>Redemption in Vader's final act</h2>
        <div class="row">
            <div class="col-sm-9">
                <p>
                    Knowing that he was dangerous to his friends, Luke Skywalker willingly surrenders himself to Darth Vader at the Battle of Endor. Vader, now a fearsome Lord of the Sith with decades of battle behind him.  Lord Vader was truly an enemy Luke had never faced before.  Worse, it was his father.</p>
            <p>Hoping to play the conflict Luke felt within Vader, he appealed to his father's good side.  To that side that had once been Anakin Skywalker, Jedi Knight and General of the Clone Wars.
                </p>
                <p>"It's too late for me, son," was Vader's only response.</p>
            </div><!--end col01-->
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/redemption-1.png" />
            </div><!--end col02-->
        </div><!--end Row01-->
        <br />
        <div class="row">
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/redemption-2.png" />

            </div><!--end col01-->
            <div class="col-sm-9">
                <p>
                    Darth Vader obeys his master, Emperor Palpatine, the evil Sith Lord Darth Sidious, who had engineered the Republic's downfall, the rise of the Empire and the death of the Jedi galaxy-wide, and brings Luke before his master.
                </p>
                <p>
                    Soon, Luke and Vader fought, and Luke defeats Vader after the secret of Luke's sister, Leia, had been revealed. While Luke had used anger to defeat Vader, he would not succumb to the Dark Side.  Darth Vader's defeat meant that Luke had at last become a Jedi Knight, like his father before him.
                </p>
            </div><!--end col02-->
        </div><!--end row02-->
        <br />

        <div class="row">
            <div class="col-sm-9">
                <p>
                    The Emperor could not allow the son of Anakin Skywalker to become a Jedi Knight who would destroy him.  Luke paid the price form his lack of vision and was quickly defeated by the more skilled and powerful Sith Lord.
                </p>
                <p>
                    Darth Vader, seeing that his only son was about to be murdered by the Emperor, did one final selfless act to redeem himself.  He hoisted Darth Sidious over his head and threw him down the shaft of the obervation tower, where the final battle had taken place.  It was to be the final act of Anakin Skywalker, his last as a Jedi Knight
                </p>
            </div><!--end col01-->
            <div class="col-sm-3">
                <img class="img-fluid" src="~/pix/redemption.png" />
            </div><!--end col02-->
        </div><!--end row03-->
        <br />
    </div><!--end container-->
</div><!--end Betrayal-->
